@model Supplier.ViewModels.CategorySpecsViewModel
@{
    var CategorySpecs = (List<CategorySpec>)ViewData["CategorySpecs"];
}
@{
    if (CategorySpecs.Count > 0)
    {
        @foreach (var CategorySpec in CategorySpecs)
        {
            <div class="row accordion-padding">
                <div class="col-lg-4">
                    <input asp-for="@CategorySpec.Id" type="hidden" />
                    @Html.Label(CategorySpec.Name)
                </div>
                <div class="col-lg-6">
                    <input asp-for="@Model.ProductSpec.Value" class="form-control" />
                    <span asp-validation-for="@Model.ProductSpec.Value" class="text-danger"></span>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-lg-9 centered-container">
            <span class="text-danger">No specifications were found for the chosen category!</span>
        </div>

    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
